@import 'sidebar.css';
@import 'header.css';
@import 'footer.css';
@import 'colors.css';
@import 'fonts.css';
@import 'buttons.css';
@import 'recursos-visuais.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif !important;
	color: var(--secondary-color);
	margin-bottom: 2rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	display: block;
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--secondary-color);
	/* margin-bottom: 2rem !important; */
}

p {
	font-family: 'Roboto Light', sans-serif;
	font-weight: 300;
	margin-bottom: 1rem;
	line-height: 1.5;
}

a,
a:visited {
	color: var(--primary-color);
	font-weight: 500;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
a:hover,
a:focus {
	color: var(--primary-color-light);
	font-weight: 500;
	text-decoration: underline;
}

a[target='_blank']:after {
	font-family: 'Material Symbols Rounded';
	content: 'open_in_new';
	vertical-align: text-bottom;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 80%;
	text-decoration: none;
}
a[target='_blank']:after :hover {
	text-decoration: none;
}

/* em {
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
} */

.caption-top {
	caption-side: top;
}

.primary-color {
	color: var(--primary-color);
}
.secondary-color {
	color: var(--secondary-color);
}
.text-white {
	color: #ffffff !important;
}
strong {
	font-weight: 700;
}


.figure-caption {
	font-size: 75%;
	color: #6c757d;
	text-align: center;
	margin-bottom: 0.75rem;
}

.figure-caption .fonte,
.fonte,
.video-subtitle {
	font-size: 75%;
	color: #6c757d;
	text-align: center;
}

.figure-caption a,
.figure-caption a:visited,
.video-subtitle,
.video-subtitle a,
.video-subtitle a:visited {
	color: #6c757d;
	font-weight: 500;
	text-decoration: none;
}

body {
	background-color: #fbfbfb;
	font-size: 1.25rem;
}

.main {
	position: relative;
}

/* #page-content {
    min-height: 100vh;
} */

section {
	padding: 40px 0;
}

section .page-nav {
	border-top: 1px solid var(--secondary-color-light);
	padding: 40px 0;
	flex-direction: row;
}

section .page-nav .button-primary {
	min-width: 30%;
}

@media (max-width: 767.1px) {
	section .page-nav {
		flex-direction: column;
	}
}

@media (max-width: 1199px) {
	section .page-nav .button-primary {
		min-width: 40%;
	}
}

/* SVG Mapa do Brasil */
svg .info .has-info {
	cursor: pointer;
}
svg .info .has-info:hover .has-info--hover {
	mix-blend-mode: color;
}
